<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="app">
    <div class="links">
        <div class="links-select">
            <div class="links-select-bycategory">
                <select v-model="filterByCategory"  v-on:change="filterByCategorym">
                    <option value="0">All</option>
                    <option v-for="category in categories" :value="category.id">{{category.categoryName}}</option>
                </select>
            </div>
        </div>
        <div class="links-input">
            <input type="text" v-model="newLink" placeholder="Enter link here">
            <select v-model="selectedCategory">
                <option v-for="category in categories" :value="category.id">{{category.categoryName}}</option>
            </select>
            <span v-if="isUrlUnproccesable">URL is unproccesable</span>
            <button v-on:click="linkSubmit">Submit</button>
        </div>
        <div class="links-list">
            <ul>
                <li class="link-list-empty" v-if="links.length == 0">No links</li>
                <li v-for="link in links">
                    <div class="links-list-singlelink">
                        <div class="links-list-singlelink-title">{{link.title}}</div>
                        <div class="links-list-singlelink-description">{{link.description}}</div>
                        <div class="links-list-singlelink-link">
                            <a target="_blank" v-bind:href="link.url">Open</a>
                        </div>
                        <div class="links-list-singlelink-category">Category: {{link.category.name}}</div>
                        <div class="links-list-singlelink-image">
                            <img v-bind:src="link.image" alt="No image">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<style>
    .links-list ul{
        list-style-type: none;
    }
    .links-list-singlelink{
        width: 25%;
        float: left;
        text-align: center;
    }
    .links-list-singlelink-title{
        font-size: 20px;
    }
    .links-list-singlelink-description{
        font-size: 12px;
        text-align: left;
    }
    .links-list-singlelink-link{
        float: left;
    }
    .links-list-singlelink-image img{
        width: 100%;
        height: auto;
    }
</style>

<script src="node_modules/vue/dist/vue.min.js"></script>
<script src="node_modules/vue-resource/dist/vue-resource.min.js"></script>
<script>

    var app = new Vue({
        el: '#app',
        http: {
            emulateJSON: true,
            emulateHTTP: true
        },
        data: {
            baseApiUrl: 'http://localhost/links/web/app_dev.php/api/',
            isUrlUnproccesable: false,
            newLink: '',
            selectedCategory: '',
            filterByCategory: 0,
            isSubmitLinkDisabled: true,
            links: [],
            allLinks: [],
            categories: []
        },
        created(){
            this.getLinks()
        },
        methods: {
            filterByCategorym: function(event){
                var newLinks = [];
                var selectedCategory = this.filterByCategory;
                if(selectedCategory == 0){
                    newLinks = this.allLinks;
                }
                this.allLinks.forEach(function (link) {
                   if(link.category.id == selectedCategory){
                       newLinks.push(link);
//                       console.log(this.links);
                   }
                });
                this.links = newLinks;
            },
            linkSubmit: function (event) {
                this.isUrlUnproccesable = false;
                this.$http.post(this.baseApiUrl + 'link/autopopulate', {url:this.newLink, category: this.selectedCategory})
                    .then(function (response) {
                    this.links.push(response.data.data);
                    this.newLink = '';
                }, function (error) {
                    if(error.status == 422){
                        this.isUrlUnproccesable = true;
                    }
                });
            },
            getLinks: function () {
                this.$http.get(this.baseApiUrl + 'init').then(function (response) {
                    this.links = response.data.data.links;
                    this.allLinks = this.links;
                    this.categories = response.data.data.categories;
                    this.selectedCategory = this.categories[0].id;
//                    Vue.set(this.data, 'selectedCategory', 55);
//                    this.$set('selectedCategory', this.categories[0].id);
                }, function (error) {
                    console.error(error);
                }).bind(this);
            }
        }
    })
</script>
</body>
</html>